<%= link_to "See all the trips you created", member_trips_path(current_member.id)%><br>
<h1 style="color: white;"></h1>Create a trip form

<%= form_for [current_member, @trip] do |f| %> 
	
	<%= f.label :where, "Where?" %><br/>
	<%= f.text_field :where, placeholder: "Hawaii" %><br>
	
	<%= f.label :when, "When?" %><br/>
	<%= f.text_field :when, placeholder: "#" %><br>

	<%= f.label :price, "Price per person? (Approximately)" %><br/>
	<%= f.text_field :price, placeholder: "$550" %><br>

	<%= f.submit "Create Trip Idea"%>
<% end %>